     <persistedState key="originalCompatibilityViewClass" value="org.eclipse.wst.jsdt.internal.ui.callhierarchy.CallHierarchyViewPart"/>
      <tags>View</tags>
      <tags>categoryTag:JavaScript</tags>
      <menus xmi:id="_Au5GXATTEeeRRJQCJ3TXsw" elementId="org.eclipse.wst.jsdt.callhierarchy.view">
        <tags>ViewMenu</tags>
        <tags>menuContribution:menu</tags>
      </menus>
      <toolbar xmi:id="_Au5GXQTTEeeRRJQCJ3TXsw" elementId="org.eclipse.wst.jsdt.callhierarchy.view" visible="false"/>
    </sharedElements>
    <sharedElements xsi:type="basic:Part" xmi:id="_Au5GXgTTEeeRRJQCJ3TXsw" elementId="org.tigris.subversion.subclipse.ui.repository.RepositoriesView" contributionURI="bundleclass://org.eclipse.ui.workbench/org.eclipse.ui.internal.e4.compatibility.CompatibilityView" label="SVN &#x8d44;&#x6e90;&#x5e93;" iconURI="platform:/plugin/org.tigris.subversion.subclipse.ui/icons/full/cview16/repo_rep.gif" tooltip="" closeable="true">
      <persistedState key="originalCompatibilityViewBundle" value="org.tigris.subversion.subclipse.ui"/>
      <persistedState key="originalCompatibilityViewClass" value="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"/>
      <persistedState key="memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?>&#xD;&#xA;&lt;view/>"/>
      <tags>View</tags>
      <tags>categoryTag:SVN</tags>
      <menus xmi:id="_Au5GXwTTEeeRRJQCJ3TXsw" elementId="org.tigris.subversion.subclipse.ui.repository.RepositoriesView">
        <tags>ViewMenu</tags>
        <tags>menuContribution:menu</tags>
      </menus>
      <toolbar xmi:id="_Au5GYATTEeeRRJQCJ3TXsw" elementId="org.tigris.subversion.subclipse.ui.reposit