"ALT+SHIFT+D Q" command="_Au9ZtQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tjgTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D R" command="_Au9-yATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tjwTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D A" command="_Au-ALQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tkATTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D X" command="_Au9-ugTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tkQTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D T" command="_Au9X8gTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tkgTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D E" command="_Au-BAgTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tkwTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+D P" command="_Au-AQwTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tlATTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+M" command="_Au-AwATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tlQTTEeeRRJQCJ3TXsw" keySequence="CTRL+BREAK" command="_Au9YWwTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tlgTTEeeRRJQCJ3TXsw" keySequence="CTRL+#" command="_Au9YSQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tlwTTEeeRRJQCJ3TXsw" keySequence="CTRL+SHIFT+E" command="_Au9YlwTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tmATTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+F" command="_Au-AYATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tmQTTEeeRRJQCJ3TXsw" keySequence="CTRL+E" command="_Au9ZHwTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tmgTTEeeRRJQCJ3TXsw" keySequence="ALT+CTRL+E" command="_Au9ZPgTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tmwTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+G" command="_Au9_cATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tnATTEeeRRJQCJ3TXsw" keySequence="CTRL+G" command="_Au9X5ATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au5tnQTTEeeRRJQCJ3TXsw" keySequence="ALT+SH