indingTables>
  <bindingTables xmi:id="_Au6UiQTTEeeRRJQCJ3TXsw" elementId="org.eclipse.mylyn.tasks.ui.editors.task" bindingContext="_Au6VSgTTEeeRRJQCJ3TXsw">
    <bindings xmi:id="_Au6UigTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+I" command="_Au9ZdwTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UiwTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+R" command="_Au9ZhATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UjATTEeeRRJQCJ3TXsw" keySequence="CTRL+O" command="_Au-AywTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UjQTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+S" command="_Au9ZNgTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UjgTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+U" command="_Au9_zgTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UjwTTEeeRRJQCJ3TXsw" keySequence="CTRL+SHIFT+M" command="_Au9YCATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UkATTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+C" command="_Au9-6ATTEeeRRJQCJ3TXsw"/>
  </bindingTables>
  <bindingTables xmi:id="_Au6UkQTTEeeRRJQCJ3TXsw" elementId="org.eclipse.core.runtime.xml" bindingContext="_Au6VOATTEeeRRJQCJ3TXsw">
    <bindings xmi:id="_Au6UkgTTEeeRRJQCJ3TXsw" keySequence="CTRL+SHIFT+D" command="_Au9-vATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UkwTTEeeRRJQCJ3TXsw" keySequence="CTRL+SHIFT+P" command="_Au-AFQTTEeeRRJQCJ3TXsw"/>
  </bindingTables>
  <bindingTables xmi:id="_Au6UlATTEeeRRJQCJ3TXsw" elementId="org.eclipse.jst.jsp.ui.structured.text.editor.jsp.scope" bindingContext="_Au6VPwTTEeeRRJQCJ3TXsw">
    <bindings xmi:id="_Au6UlQTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+R" command="_Au-AxgTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UlgTTEeeRRJQCJ3TXsw" keySequence="ALT+SHIFT+V" command="_Au9ZogTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UlwTTEeeRRJQCJ3TXsw" keySequence="CTRL+SHIFT+M" command="_Au9Y9QTTEeeRRJQCJ3TXsw"/>
  </bindingTables>
  <bindingTables xmi:id="_Au6UmATTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.memoryview" bindingContext="_Au6VUgTTEeeRRJQCJ3TXsw">
    <bindings xmi:id="_Au6UmQTTEeeRRJQCJ3TXsw" keySequence="CTRL+W" command="_Au9_WQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UmgTTEeeRRJQCJ3TXsw" keySequence="CTRL+N" command="_Au9_jQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UmwTTEeeRRJQCJ3TXsw" keySequence="CTRL+T" command="_Au9Y6ATTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UnATTEeeRRJQCJ3TXsw" keySequence="ALT+CTRL+M" command="_Au9ZmQTTEeeRRJQCJ3TXsw"/>
    <bindings xmi:id="_Au6UnQTTEeeRRJQCJ3TXsw" keySequence="ALT+CTRL+N" command="_Au-AwwTTEeeRRJQCJ3TXsw"/>
  </bindingTables>
  <bindingTables xmi:id="_Au6UngTTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.BreakpointView" bindingContext="_Au6VLQTTEeeRRJQCJ3TXsw">
    <bindings xmi:id="_Au6UnwTTEeeRRJQCJ3TXsw" keySequence="ALT+CR" command="_Au9-9gT