    <tags>menuContribution:popup</tags>
        <tags>popup:org.eclipse.debug.ui.DebugView</tags>
      </menus>
      <menus xsi:type="menu:PopupMenu" xmi:id="_Au4gpgTTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.DebugView">
        <tags>menuContribution:popup</tags>
        <tags>popup:org.eclipse.debug.ui.DebugView</tags>
      </menus>
      <toolbar xmi:id="_Au4gpwTTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.DebugView"/>
    </sharedElements>
    <sharedElements xsi:type="basic:Part" xmi:id="_Au4gsgTTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.VariableView" contributionURI="bundleclass://org.eclipse.ui.workbench/org.eclipse.ui.internal.e4.compatibility.CompatibilityView" label="Variables" iconURI="platform:/plugin/org.eclipse.debug.ui/icons/full/eview16/variable_view.png" tooltip="" closeable="true">
      <persistedState key="originalCompatibilityViewBundle" value="org.eclipse.debug.ui"/>
      <persistedState key="originalCompatibilityViewClass" value="org.eclipse.debug.internal.ui.views.variables.VariablesView"/>
      <persistedState key="memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?>&#xD;&#xA;&lt;view/>"/>
      <tags>View</tags>
      <tags>categoryTag:Debug</tags>
      <menus xmi:id="_Au4gswTTEeeRRJQCJ3TXsw" elementId="org.eclipse.debug.ui.VariableView">
        <tags>ViewMen